
<div>  
  <% @roads.each do |road| %>
    <p><%= road.title %></p>
    <% if road.road_images.attached? %>
      <%= image_tag road.road_images.first, width: '35%', height: '35%' %>
    <% else %>
      <%= image_tag "noimage.png", width: '120px', height: '120px' %>
    <% end %>
    <p id="road-<%= road.id %>">
      <% if road.liked_by?(current_user) %>
        <%# 「いいね！」済み %>
        <%= link_to road_likes_path(road.id), class: "like-link", method: :delete, remote: true do %>
          <i class="far fa-heart unlike-btn"></i>
        <% end %>
      <% else %>
        <%# 「いいね！」していない %>
        <%= link_to road_likes_path(road.id), class: "like-link", method: :post, remote: true do %>
          <i class="fas fa-heart like-btn"></i>
        <% end %>
      <% end %>
      <%= road.likes_count %>
    </p>
    <p><%= road.description %></p>
    <%= link_to "詳細", road_path(road) %>
    <% if current_user.id == road.user_id %>
      <%= link_to "編集", edit_road_path(road) %>
      <%= link_to "削除", road_path(road), method: :delete, data: {confirm: "削除しますか？"} %>
    <% end%>
  <% end %>
