<div class="container mx-auto py-5">
  <h3 class="text-center">新規投稿</h3>

  <div class="d-flex justify-content-center mt-5">
    <dl class="searchbox">
      <dt><input id="address" class="search-field" type="textbox" placeholder="検索してマップを移動できます"></dt>
      <dd><input type="button" value="検索" onclick="searchArea()" class="search-btn"></dd>
    </dl>
  </div>

  <p class="text-center">登録したい箇所をクリックして、マーカーを設置してください。(1つまで)</p>

  <div id="map" class="map mx-auto mt-3"></div>

  <%= form_with model: @road, local: true do |f| %>
    <div class="d-flex justify-content-center mt-3">
      <p class="mx-auto">
        緯度: <%=f.text_field :latitude, class: "latlng-field" %>
        経度: <%=f.text_field :longitude, class: "latlng-field" %>
      </p>
    </div>

    <div class="text-center">
      <p><%= f.text_field :title, placeholder: "タイトルを入力", class: "title-field" %></p>
      <p><%= f.text_area :description, placeholder: "説明文を入力", class: "description-field" %></p>
      <p><%= f.file_field :road_images, multiple: true, class:"mt-4" %></p>
      <%= f.submit "投稿", class: "btn btn-outline-primary submit-btn my-5" %>
    </div>

    <div class="text-center">
      <p><%= link_to "投稿キャンセル", roads_path, class: "to-index-btn btn btn-outline-primary submit-btn" %></p>
    </div>
  <% end %>
</div>


<script>

let mapInstance = {};
let marker;
let geocoder;
const tokyoStationLat = 35.6809591;
const tokyoStationLng = 139.7673068;

function initMap() {
  geocoder = new google.maps.Geocoder();
  // 初期マップ
  mapInstance = new google.maps.Map(document.getElementById('map'), {
    center: {lat: tokyoStationLat, lng: tokyoStationLng},
    zoom:12,
    mapTypeControl: false
  });

  // クリックしたときに関数を実行
  mapInstance.addListener('click', function(e) {
    getClickLatLng(e.latLng, mapInstance);
    });
  }


// 住所、座標を取得してマーカー設置
function getClickLatLng(latlng, mapInstance) {
  document.getElementById('road_latitude').value = latlng.lat();
  document.getElementById('road_longitude').value = latlng.lng();

  // 既存のマーカーの削除
  deleteMarker();

  // マーカー設置
  marker = new google.maps.Marker({
    position: latlng,
    map: mapInstance
  });

  mapInstance.panTo(latlng);
}

// 既にあるマーカーの削除
function deleteMarker() {
  if(marker != null){
    marker.setMap(null);
  }
  marker = null;
}

function searchArea() {
  // 検索フォームの入力内容を取得
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress }, function(results, status) {
    // 該当する検索結果がヒットした時に、地図の中心を検索結果の緯度経度に更新
    if (status == 'OK') {
      mapInstance.setCenter(results[0].geometry.location);
    } else {
      // 検索結果がなかった場合に表示
      alert('該当する結果がありませんでした:' + status);
    }
  }); 
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>

