<p>新規投稿</p>
<h2>Google Maps</h2>
<div id="map"></div>


  <ul v-for="val in adrs_list">
    <li>緯度: <span id="lat"></span></li>
    <li>経度: <span id="lng"></span></li>
  </ul>


<%= form_with model: @road, local: true do |f| %>
  <p>タイトル:<%= f.text_field :title %></p>
  <p>コメント:<%= f.text_field :description %></p>
  <%= f.submit "投稿" %>
<% end %>


<script>
var map = {};
const tokyoStationLat = 35.6809591
const tokyoStationLng = 139.7673068

function initMap() {
  // 初期マップ
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: tokyoStationLat, lng: tokyoStationLng},
    zoom:12,
    mapTypeControl: false
  });

  // クリックしたときに関数を実行
  map.addListener('click', function(e) {
    getClickLatLng(e.latLng, map);
    });
  }


// 住所、座標を取得
function getClickLatLng(latlng, map) {
  document.getElementById('lat').textContent = latlng.lat();
  document.getElementById('lng').textContent = latlng.lng();

  var marker = new google.maps.Marker({
    position: latlng,
    map: map
  });

  map.panTo(latlng);
}


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

