<p>新規投稿</p>
<h2>Google Maps</h2>
<div id='map'></div>

<style>
  #map {
    height: 400px;
  }
</style>

<script>
  var map;
  function initMap() {
    // HMTL上にGoogle Mapsを表示
    var target = document.getElementById('map');
    var empire = {lat: 35.6809591, lng: 139.7673068};
    map = new google.maps.Map(target, {
      center: empire,
      zoom: 14
    });

    // クリックした箇所にマーカーを設置
    map.addListener('click', (e) => {
      var marker = new google.maps.Marker({
        position: e.latLng,
        map: map,
        title: e.latLng.toString(),
        animation: google.maps.Animation.DROP
    });
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>
<%= form_with model: @road, local: true do |f| %>
  <p>タイトル:<%= f.text_field :title %></p>
  <p>コメント:<%= f.text_field :description %></p>
  <%= f.submit "投稿" %>
<% end %>