<p>新規投稿</p>
<h2>Google Maps</h2>
<div id="map"></div>
<div id="input-form"></div>
<%= Gon::Base.render_data %>

<ul>
  <li>lat: <input id="lat"></li>
  <li>lng: <input id="lng"></li>
</ul>

<%= form_with model: @road, local: true do |f| %>
  <p>タイトル:<%= f.text_field :title %></p>
  <p>コメント:<%= f.text_field :description %></p>
  <%= f.submit "投稿" %>
<% end %>
<%= javascript_pack_tag 'hello_vue' %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>

<%# <script>
var app = new Vue({
  el: "#input-form",
  data: {
    adrs_list: []
  }
});



// マップの初期化
var map = new google.maps.Map(document.getElementById('map'), {
  zoom: 13,
  center: {lat: 43.0553626, lng: 141.341062},
  mapTypeId: 'roadmap'
});

// クリックイベントを追加
map.addListener('click', function(e){
  map.panTo(e.latLng);
  getAddress(e.latLng);
});

function getAddress(latlng) {
  var geocoder = new google.maps.Geocoder();

  geocoder.geocode({
    latLng: latlng
  }, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      if (results[0].geometry) {
        var address = results[0].formatted_address.replace(/^日本(、|,)/, '');
        app.adrs_list.push({address: address, lat: latlng.lat(), lng: latlng.lng(), comment: ""});
        var marker = new google.maps.Marker({ position: latlng, map: map, title: address, animation: google.maps.Animation.DROP });
      }
    } else {
      app.adrs_list.push({address: "", lat: latlng.lat(), lng: latlng.lng(), comment: status});
    }
  });
}    
</script>


<style>
  #map {
    height: 400px;
  }
</style> %>