<!DOCTYPE html>
<html>
  <head>
    <title>Tamari-Ba</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application.js', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= render 'layouts/header' %>
      <% else %>
        <% unless request.path.in?(["/"]) %>
          <%= render 'layouts/header' %>
        <% end %>
      <% end %>
    </header>
    <%= render "layouts/flash" %>
    <%= yield %>
  </body>
</html>
